apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: dotnet-pg-microservice
spec:
  project: default
  source:
    repoURL: https://github.com/oladapooloyede/dotnet-pg-microservice
    targetRevision: master
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: demo-docker
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
